{% extends "base.html.twig" %}


{% block title %}
	adminastrateur - ShopBooking
{% endblock %}
{% block content %}
	{# je vais faire une vue administrateur #}
	<div class="container">

		<ul class="nav">
			<li class="nav-item">


				<a class="nav-link active" aria-current="page" href="#">
					<i class="fa-solid fa-tags mr-1"></i>Produit</a>

			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fa-solid fa-users mr-1"></i>Utilisateur</a>

			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>

			<li class "nav-item"></li>

		</ul>

	</div>
	<div class="col-md-8 container">
		<table class="table ">
			<thead class="table-info">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">TITRE</th>
					<th scope="col">DESCRIPTION</th>
					<th scope="col">PICTURE</th>
					<th scope="col">PRICE</th>
					<th scope="col">DATE DE PARUTION</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for book in books %}


					<tr>
						<td>{{book.id_book}}</td>
						<td>
							{{book.title}}

						</td>
						<td>{{book.description}}</td>
						<td>{{book.picture}}</td>
						<td>{{book.price}}
							€</td>
						<td>{{book.release_date}}</td>
						<td></td>

					</tr>
				{% endfor %}


			</tbody>

		</table>
		<button class="btn btn-success">


			<a href="" class="nav-link text-white">
				<i class="fa-solid fa-circle-plus text-white"></i>
				<span>Ajouter un produit</span>
			</a>


		</button>


	</div>


</div>{% endblock %}
